<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button><!--Back Button-->
    </ion-buttons>
    <ion-title>Game Of Thrones Characters</ion-title>
  </ion-toolbar>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Summary Of characters</ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <br>
        <ion-text color="secondary"><!--Gives the text colour-->
          <img src="../assets/images/220px-Jon_Snow_Season_8.png"><!--Adds in the image-->
        
          <h1>Jon Snow</h1><!--Header-->
          <p><!--Paragraphs-->
            Description. In A Game of Thrones, Jon Snow is introduced as the 14-year-old illegitimate son of Eddard "Ned" Stark, Lord of Winterfell, 
            and half-brother to Robb, Sansa, Arya, Bran and Rickon. Jon is described as having strong Stark features with a lean build, long face, dark brown hair and grey eyes.
          </p>
        </ion-text>
        <br>
        <ion-text color="primary">
          <img src="../assets/images/Daenerys_Targaryen_with_Dragon-Emilia_Clarke.jpg">
          <h1>Daenerys Targaryen</h1>
          <p>
            Daenerys is the youngest child of King Aerys II Targaryen and his sister-wife, Queen Rhaella. ... 
            As Viserys had been crowned king on Dragonstone by their mother before her death, Daenerys received the title "Princess of Dragonstone" as Viserys's heir.         
           </p>
        </ion-text>
        <br>
        <ion-text color="secondary">
          <img src="../assets/images/Arya_Stark-Maisie_Williams.jpg">
          <h1>Arya Stark</h1>
          <p>
            Introduced in 1996's A Game of Thrones, Arya is the third child and younger daughter of Lord Eddard Stark and his wife Lady Catelyn Stark. 
            She is tomboyish, headstrong, feisty, independent, disdains traditional female pursuits, and is often mistaken for a boy.        
          </p>
        </ion-text>
        <br>
        <ion-text color="danger">
          <img src="../assets/images/Bran_Stark_-_Isaac_Hempstead-Wright.jpg">
          <h1>Bran Stark</h1>
          <p>
            Bran Stark is the fourth child of Eddard and Catelyn Stark; brother to Robb, Sansa, Arya, and Rickon; and half-brother to Jon Snow.
             Bran falls (read: is thrown) from a tower and breaks his back, and he spends the rest of the book talking about the world.         
             </p>
        </ion-text>
        <br>
        <ion-text color="dark">
          <img src="../assets/images/SophieTurnerasSansaStark.jpg">
          <h1>Sansa Stark</h1>
          <p>
            Sansa is a normal person in a chaotic world, using her brains and the help of the other ordinary people around her to survive. 
            That's one of the main reasons she is able to connect with people on a level that Jon, Arya, and Bran cannot; she is realistic, grounded, and powerful in her own right.         
           </p>
        </ion-text>

       

      </ion-card-content>
    </ion-card>
    
  </ion-content>
  