<ion-header>
  <ion-toolbar>
  <ion-title>Menu</ion-title>
  </ion-toolbar>
  </ion-header>

<!--Buttons that will bring you to the routing pages and changes the url-->
<ion-content [fullscreen]="true">
 <ion-button [routerLink]="['/action']">Game Of Thrones</ion-button> 


<br>


  <ion-button [routerLink]="['/peaky']">Summary Of Characters</ion-button>


 <br>

  <ion-button [routerLink]="['/favourite']"> your favourite Character</ion-button>
  <ion-title>Your Favourite: {{yourFavourite}}</ion-title>
 
   <br>

   <ion-button (click)="lightMethod()">Flashlight</ion-button>
  </ion-content>
